/**
 * Created by Sherlock on 29.06.2021.
 */

@import "fonts";

$color-orange: #FF6629;
$color-text: #531800;

html,body{
  color: $color-text;
}

.new-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 5.22vh 7.81vw 0 7.81vw;
  z-index: 1;

  .logo {
    width: 11.71vw;
  }

  .menus {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin-right: 2.08vw;

      a {
        color: #CC7552;
        opacity: 0.5;
        position: relative;
        font-size: 0.93vw;
        line-height: 2.89vh;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          width: 0;
          margin: auto;
          transition: all 0.3s linear;
          background-color: #CC7552;
          height: 2px;
        }

        &:hover, &.active{
          opacity: 1;
          &:after{
            width: 100%;
          }
        }
      }
    }
  }

  .phone{
    background-color: $color-orange;
    border-radius: 4.68vw;
    padding: 1.77vh 1.3vw;
    color: #FFFFFF;
    font-size: 1.45vw;
    line-height: 3.89vh;
    letter-spacing: 0.05em;
    font-weight: 800;
    span{
      background-color: #FFFFFF;
      width: 1.66vw;
      height: 1.66vw;
      margin-right: 0.52vw;
    }
  }



}

.new-content {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;

  &.new-content-one {
    background-image: url("/images/new/home-img.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 62.65vw;

    .new-content-one-content{
      padding-left: 7.81vw;
      padding-top: 27.11vh;
      h3{
        font-size: 2.91vw;
        line-height: 7.55vh;
        margin-bottom: 3.33vh;
      }
      p{
        font-size: 1.04vw;
        line-height: 3.55vh;
        margin-bottom: 4.44vh;
      }
      button{
        background-color: $color-orange;
        border-radius: 90px;
        border: none;
        outline: 0;
        color: #FFFFFF;
        padding: 2.11vh 1.45vw;
        text-transform: capitalize;
        font-size: 1.04vw;
        line-height: 2.77vh;
        cursor: pointer;
        transition: all 0.3s linear;
        margin-right: 1.56vw;
        &:active{
          transform: scale(0.9);
        }
      }
      .play-item{
        width: 3.33vw;
        height: 3.33vw;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        .play-item-content{
          position: absolute;
          left: 0;
          cursor: pointer;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1.66vw;
          height: 1.66vw;
          border-radius: 50%;
          background-color: $color-orange;
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            background-color: #FFFFFF;
            width: 0.46vw;
            height: 0.46vw;
          }
        }
        margin-right: 12px;
      }
      h4{
        font-size: 0.83vw;
        line-height: 2.22vh;
        margin-bottom: 0.66vh;
      }
      h6{
        font-size: 0.46vw;
        line-height: 1.22vh;
        margin-bottom: 0;
      }
    }
  }


  &.new-content-two{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/new/NewContentTwoBackgroundImg.png");

    background-size: 100% 100%;
    .sub-content{
      margin-left: 7.81vw;

      h1{
        font-size: 3.75vw;
        margin-top: 31.11vh;
        line-height: 8vh;
        color: #fff;
      }
      p{
        margin-top: 3.33vh;
        width: 29.1vw;

        line-height: 3.55vh;
        font-size: 1.04vw;

        color: #fff
      }
    }
  }



  &.new-content-three {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/new/NewContentThreeBackgroundImg.png");

    background-size: 100% 100%;

    .sub-content{
      margin-left: 7.81vw;
      width: 28.12vw;

      margin-top: 19.55vh;
      h1{
        color: #fff;
        font-size: 2.91vw;
      }
      p{
        color: #fff;
        opacity: 0.5;
        line-height: 3.55vh;
        font-size: 1.04vw;
        margin-top: 3.33vh;
      }

      .sub-content-child{
        display: flex;
        justify-content: space-between;

        margin-top: 6.66vh;
        .first-child{
          h2{
            color: #fff;
            font-size: 1.14vw;
            line-height: 3.55vh;
          }
          p{
            margin-top: 2.22vh;
          }
        }

        .second-child{
          h2{
            color: #fff;
            font-size: 1.14vw;
            line-height: 3.55vh;
          }
          p{
            margin-top: 2.22vh;
          }
        }
      }
    }
  }

  &.new-content-five{
    width: 100vw;
    height: 100vh;

    .sub-content{
      display: flex;
      height: 100%;

      .left-img{
        width: 29.89vw;
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url("../images/new/NewContentFiveBackgroundImg.png");

        background-size: 100% 100%;
      }

      .right-content{
        padding-top: 29.66vh;
        padding-left: 2.08vw;

        h1{
          font-size: 2.5vw;
        }

        p{
          margin-top: 4.44vh;
          font-size: 0.9vw;
          line-height: 3.33vh;
          color: #594D6D;

        }


        .right-content-numbers{
          display: flex;
          border-top: 1px solid rgba(255, 102, 41, 0.1);
          margin-top: 5.11vh;
          padding-top: 10.2vh;
          .numbers-child{
            display: flex;
            align-items: center;
            margin-right: 2.08vw;
            h3{
              color: $color-orange;
              font-size: 3.64vw;
              margin: 0;
              padding: 0;
            }

            span{
              width: 2px;
              height: 5.55vh;
              background-color: $color-text;
              margin-left: 0.6vw  ;
              margin-right: 0.78vw;
            }

            p{

              margin: 0;
              padding: 0;
            }
          }
          .numbers-child:nth-child(4){
            margin-right: 0;
          }
        }
      }
    }
  }


  &.new-content-eight {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/new/NewContentEightBackgroundImg.png");

    background-size: 100% 100%;

    .sub-content{
      width: 28.64vw;
      margin-top: 17.33vh;
      margin-left: 7.81vw;
      margin-bottom: 4.44vh;
      h1{
        color: #fff;
        font-size: 2.91vw;
      }

      .childs{

        display: flex;
        background-color: rgba(53, 32, 21, 0.5);
        border-radius: 1.45vw;
        margin-top: 2.66vh;
        //padding-top: 2.66vh;

        height: 13.33vh;

        align-items: center;

        span{
          background-color: rgba(255, 255, 255, 0.21);
          width: 3.75vw;
          height: 3.75vw;
          border-radius: 1.45vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.25vw;
          margin-right: 1.25vw;

          img{

            width: 1.66vw;
            height: 1.66vw;
          }
        }

        .childs-right-content{
          h3{
            color: #fff;
            font-size: 1.04vw;
            margin: 0;
            padding: 0;

          }
          p{
            font-size: 0.63vw;
            line-height: 2vh;
            padding: 0;
            color: #fff;
            margin: 0;
            margin-top: 0.3vh;

          }
        }
      }
    }
  }



  &.new-content-nine {
    width: 100vw;
    height: 100vh;

    position: relative;



    .shortLine{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25vw;
    }

    .longLine{
      position: absolute;
      width: 100vw;

      top: 21vh;
      z-index: -1;
    }

    .sub-content{
      display: flex;
     .left-child-content{

       margin-top: 25.55vh;

       margin-left: 7.81vw;
       width: 33.5vw;
       h1{
         color: $color-text;
         font-size: 2.5vw;

       }
       p{
         color: #594D6D;

         line-height: 3.33vh;
         font-size: 0.9vw;
         margin-top: 3.33vh;
       }

       .sub-content-child{
         display: flex;
         justify-content: space-between;

         .first-child{
           h2{
             color: $color-orange;
             font-size: 0.9vw;

           }
           p{
             margin-top: 1.33vh;
             font-size: 0.83vw;
             line-height: 2.88vh;

           }
         }

         .second-child{
           h2{
             color: $color-orange;
             font-size: 0.9vw;

           }
           p{
             line-height: 2.88vh;

             font-size: 0.83vw;
             margin-top: 1.33vh;
           }
         }
       }
     }


      .right-child-content{
        img{
          width: 47.86vw;
          height: 72.2vh;
          margin-top: 18.33vh;
          margin-left: 3.43vw;
        }
      }

    }
  }



  &.new-content-eleven{
    .sub-content{
      display: flex;
      .left-eleven-content{
        margin-left: 7.81vw;
        margin-top: 27.11vh;
        width: 24vw;
        h1{

          font-size: 2.5vw;
          line-height: 6.22vh;
          color: $color-text;
        }
        p{
          color: #594D6D;

          line-height: 3.33vh;
          margin-top: 3.33vh;
        }
      }
      .right-img-group{

        width: 57.81vw;
        display: flex;
        margin-top: 18vh;
        margin-left: 2.13vw;
        justify-content: space-between;
        .right-img-group-child{

          width: 18.22vw;
          height: 100%;


          display: flex;
          flex-direction: column;


            img{
              height: 47%;
            }

          img:nth-child(2){
            margin-top: auto;
          }



        }
      }
      .right-img-group-child:nth-child(1){
        border-radius: 30px;
      }
    }
  }



  &.new-content-twelve {
    width: 100vw;
    height: 100vh;



    .sub-content{
      display: flex;


      .left-child-content{
        img{
          width: 47.86vw;
          height: 72.2vh;
          margin-top: 16.22vh;
          margin-left: 7.81vw;
          border-radius: 40px;
        }
      }


      .right-child-content{

        margin-top: 19.66vh;

        margin-left: 2.91vw;
        width: 33.5vw;
        h1{
          color: $color-text;
          font-size: 2.5vw;

        }
        p{
          color: #594D6D;

          line-height: 3.33vh;
          font-size: 0.9vw;
          margin-top: 3.33vh;
        }

        .sub-content-child{
          display: flex;

          .first-child{
            h2{
              color: $color-orange;
              font-size: 0.9vw;

            }
            p{
              margin-top: 1.33vh;
              font-size: 0.83vw;
              line-height: 2.88vh;

            }
          }

          .second-child{


            margin-left: 2.08vw;
            h2{
              color: $color-orange;
              font-size: 0.9vw;

            }
            p{

              line-height: 2.88vh;
              font-size: 0.83vw;
              margin-top: 1.33vh;
            }
          }
        }
      }



    }
  }


  }